@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 1, 1, 1;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: black;
  background: white;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@media screen and (max-width: 768px) {
  .text-2xl {
    @apply text-[32px] leading-[37px] -tracking-[3%];
  }

  .text-3xl {
    @apply text-[44px] leading-[51px] -tracking-[3%];
  }

  .text-md {
    @apply text-[14px] leading-6 -tracking-[3%];
  }

  .text-base {
    @apply text-[0.9em];
  }

  .text-sm {
    @apply text-[0.7em];
  }

  .text-xs {
    @apply text-[0.6em];
  }

}